---
title: Daily doings
---
<html>
<head>
    <title>{{ title }} - {{ subtitle }}</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/src/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    {% include "../components/header.njk" %}    
    
    <h1>{{ subtitle }}</h1>    
    {{ content | safe }}
</body>
</html>